@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;

@tailwind components;

.clasePersonalizadaTailwindCSS {
    @apply text-gray-700 bg-pink-500 font-bold;
}

@tailwind utilities;

